<!DOCTYPE html>
<html lang='fr'>

    <head>
        <meta charset="UTF-8">
        <title>Mprj.Footer</title>
        <meta name="description" content="Website design footer">
        <link rel="icon" href="https://lh5.googleusercontent.com/F1tFbZNKTEjxRKLVfgQ35YXCaI3BY9DktFc8Qh0lam1JwfhCj6pBMCAAT9eMdS0kdybvdkIkMpUED9fopqS1xFvI8cfiZFru">
        <link rel="stylesheet" href="/fr/components/preload.css">
        <base target="_parent">
    </head>

    <body>
        <footer class="footer">
            <copyright>
                <p>
                    <br/>
                    Tout le contenu présent sur ce site fait l'objet d'une propriété intellectuelle envers Minteck Projects LLC<br/>
                    Copyright © 2013-2018 Minteck Projects LLC - N° de dépôt C3Q4WF
                    <br/><br/>
                    <a href="http://minteck-projects.copyright01.com/"><b>Certificat de dépôt de copyright</b></a>
                </p>
            </copyright>
        </footer>
    </body>

</html>