<!DOCTYPE html>
<html lang='fr'>

    <head>
        <meta charset="UTF-8">
        <title>Mprj.Nav</title>
        <meta name="description" content="Website navigation menu">
        <link rel="icon" href="https://lh5.googleusercontent.com/F1tFbZNKTEjxRKLVfgQ35YXCaI3BY9DktFc8Qh0lam1JwfhCj6pBMCAAT9eMdS0kdybvdkIkMpUED9fopqS1xFvI8cfiZFru">
        <link rel="stylesheet" href="/fr/components/preload.css">
        <base target="_parent">
    </head>

    <body>
        <nav>
            <a href="/fr" title="Retourner à l'accueil">Accueil</a>
            <a href="/fr/products" title="En apprendre plus sur nos produits">Produits</a>
            <a href="/fr/contact" title="Nous contacter">Contact</a>
            <a href="/fr/donations" title="Faire un don">Faire un don</a>
            <a href="/fr/info" title="Informations de déboggage">Informations</a>
            <!--<a href="/fr/projectai" title="Project AI">Project AI</a>-->
        </nav>
    </body>

</html>