<!DOCTYPE html>
<html lang='fr'>

    <head>
        <meta charset="UTF-8">
        <title>Mprj.Nav</title>
        <meta name="description" content="Informations component navigation menu">
        <link rel="icon" href="https://lh5.googleusercontent.com/F1tFbZNKTEjxRKLVfgQ35YXCaI3BY9DktFc8Qh0lam1JwfhCj6pBMCAAT9eMdS0kdybvdkIkMpUED9fopqS1xFvI8cfiZFru">
        <link rel="stylesheet" href="/fr/components/preload.css">
        <base target="_parent">
    </head>

    <body>
        <menu>
            <a href="/fr/info/client" title="Client">Client</a>
            <a href="/fr/info/server" title="Serveur">Serveur</a>
        </menu>
    </body>

</html>